body{
    font-family: 'Playfair Display', serif;
    margin: 0%;
}
h1{
    font-size: 80px;
    padding-top: 40px;
    margin-top: 70px;
}
section{
    display: flex;
    margin-bottom: 20px;
}
.half-width{
    width: 40%;
    padding-left: 80px;
    padding-top: px;
    padding-right:10px;
}
.half-width img{
    width: 100%;
    padding-left: 50px;
    padding-top: 20px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
h4{
    font-size: 20px;
    padding-right: 100px;
}
p{
    font-size: 20px
}
.riyel{
    color: tomato;
}
.text-robi{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    padding-top: 20px;
}
.color-change{
    color: orange;
}
#russia{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: indigo;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding: 20px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
#usa{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
.first-style{
    background-image: url(person/shape-4.png);
    background-repeat: no-repeat;
}
.Develop{
    background-image: url(person/shape-5.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 500px;
    padding-left: 40px;
    padding-top: 10px;
}
.exp-item{
    padding-left: 30px;
    border-left: 10px solid;
    border-color: olivedrab;
    border-image-slice: 1;
    border-top: 20px;
}
.last-step{
    text-align: center;
    background: rgba(66, 39, 14, 0.945);
    padding-top: 20px;
    margin-top: 200px;
    padding-bottom: 100px;
}
.full-mean{
    font-size: 50px;
    color: rgba(16, 141, 47, 0.836);
}
#new{
    font-size: 50px;
    font-family: 'PT Serif', serif;
}